@use "src/App.scss" as *;

.menu {
  display: flex;
  justify-content: center;
}

.menuitem {
  background-color: $primary;
  height: 4vw;
  width: 15vw;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1vw;
  color: white;
  font-family: unset;

  > h2 {
    font-size: 1.5vw;
  }

  &:hover,
  &.selected {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: $shadow;
    border: solid 1px $primary-dark;
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }
}
