@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);

$primary: #00b28c;
$primary-light: #d1fff5;
$primary-dark: #25796e;
$shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

body {
  background-color: $primary-light;
  font-family: 'Share Tech Mono', monospace;
}
